// color
$color-primary: #f23f02; // Orange
$color-secondary: #262626; // dark gray
$color-light-gray: #767676; // light gray
$color-white: #fff;
$color-white-50: rgba(255, 255, 255, 0.5);
$color-black-40: rgba(0, 0, 0, 0.4);
$color-black: #000;
$color-gray-2: #222;
$color-gray-20: #202020;
$color-gray-3: #333;
$color-gray-4: #444;
$color-gray-5: #555;
$color-gray-8: #888;
$color-gray-9: #999;
$color-gray-c8: #c8c8c8;
$color-gray-bf: #bfbfbf;
$color-gray-f8: #f8f8f8;
$color-gray-d0: #d0d0d0;
$color-gray-db: #dbdbdb;
$color-brown: #a89c96;
$color-brown-2: #a1948d;
$color-gray-c: #ccc;
$color-green: #52a71f;
$color-green-2: #5cac2a;
$color-error: #e74242;
$color-blue: #158fff;
$color-blue-2: #209cf5;
$color-white-trans: rgba(255, 255, 255, 0.05);
$color-orange: #ec7826;
$color-light-orange: #feece1;
$color-light: #f6f5f0;
$background: #fff;
$select-color: #262626;
$select-background: #fff;

// font-size
$font-size-8: 0.8rem;
$font-size-10: 1rem;
$font-size-11: 1.1rem;
$font-size-12: 1.2rem;
$font-size-13: 1.3rem;
$font-size-14: 1.4rem;
$font-size-15: 1.5rem;
$font-size-16: 1.6rem;
$font-size-18: 1.8rem;
$font-size-20: 2rem;
$font-size-22: 2.2rem;
$font-size-24: 2.4rem;
$font-size-25: 2.5rem;
$font-size-26: 2.6rem;
$font-size-27: 2.7rem;
$font-size-28: 2.8rem;
$font-size-30: 3rem;
$font-size-42: 4.2rem;

$select-width: 100%;
$select-height: 5.8rem;
