*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: "-apple-system", "BlinkMacSystemFont", "Apple SD Gothic Neo", "Inter", "Spoqa Han Sans", "Segoe UI", Sans-Serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  overflow-x: hidden;
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
}

address {
  margin-bottom: 0;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

blockquote {
  margin: 0;
}

b,
strong {
  font-weight: 700;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a,
a:hover {
  text-decoration: none;
  background-color: transparent;
}

a:not([href]):not([class]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

pre,
code,
kbd,
samp {
  font-size: 1em;
}

pre {
  margin: 0;
  padding: 0;
  overflow: auto;
  -ms-overflow-style: scrollbar;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}

label {
  display: inline-block;
}

button {
  margin: 0;
  padding: 0;
  border-radius: 0;
}

button:focus:not(:focus-visible) {
  outline: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[role="button"] {
  cursor: pointer;
}

select {
  word-wrap: normal;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

textarea {
  overflow: auto;
  resize: vertical;
}

form {
  padding: 0;
  margin: 0;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 500;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: 2.5rem;
}

h2,
.h2 {
  font-size: 2rem;
}

h3,
.h3 {
  font-size: 1.75rem;
}

h4,
.h4 {
  font-size: 1.5rem;
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.w-100 {
  width: 100%;
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"), url(https://example.com/MaterialIcons-Regular.woff) format("woff"), url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: "liga";
          font-feature-settings: "liga";
}

.inner {
  position: relative;
  width: 118rem;
  margin: 0 auto;
  padding: 0 2rem;
}

@media (max-width: 1180px) {
  .inner {
    width: 100%;
  }
}

.info-desc {
  text-align: center;
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 4.4rem;
  letter-spacing: 0;
  color: #262626;
}

.info-desc strong {
  color: #f23f02;
}

@media (max-width: 768px) {
  .info-desc strong {
    text-align: left;
    display: block;
  }
}

@media (max-width: 768px) {
  .info-desc span {
    text-align: left;
    display: block;
  }
}

.info-desc em {
  font-style: normal;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}

.btn.btn-primary {
  height: 5.6rem;
  border: none;
  background: -webkit-gradient(linear, left top, right top, from(#eb7d37), to(#f05c21));
  background: linear-gradient(90deg, #eb7d37 0%, #f05c21 100%);
  border-radius: 0.8rem;
  line-height: 2.5;
  color: #fff;
}

.btn.btn-primary-m {
  height: 3.6rem;
  border: none;
  background: -webkit-gradient(linear, left top, right top, from(#eb7d37), to(#f05c21));
  background: linear-gradient(90deg, #eb7d37 0%, #f05c21 100%);
  border-radius: 0.8rem;
  line-height: 2.5;
  color: #fff;
}

.btn.btn-sale-join {
  height: 5.4rem;
  border: 1px solid #f23f02;
  background: #fff;
  border-radius: 0.8rem;
  line-height: 2.5;
  color: #ec7826;
}

.btn.btn-primary-line, .btn.btn-register {
  height: 5.4rem;
  border: 1px solid #f23f02;
  background: #fff;
  border-radius: 0.8rem;
  line-height: 2.5;
  color: #f23f02;
}

.btn.btn-brown {
  font-size: 1.4rem;
  font-weight: 600;
  height: 4rem;
  border: none;
  background: #a89c96;
  border-radius: 0.4rem;
  line-height: 2.5;
  color: #fff;
}

.btn.btn-apply {
  width: 7.4rem;
  font-size: 1.2rem;
  height: 3rem;
  border: none;
  background: -webkit-gradient(linear, left top, right top, from(#eb7d37), to(#f05c21));
  background: linear-gradient(90deg, #eb7d37 0%, #f05c21 100%);
  border-radius: 0.4rem;
  line-height: 2.5;
  color: #fff;
}

.btn.btn-apply::after {
  content: "";
  display: block;
  width: 1.4rem;
  height: 1rem;
  background: url("../images/icon_set.png") no-repeat -8rem -29rem;
  background-size: 80rem 100rem;
  margin-left: 1.1rem;
}

.btn.btn-down {
  width: 17.8rem;
  font-size: 1.2rem;
  height: 3rem;
  border: none;
  background: -webkit-gradient(linear, left top, right top, from(#eb7d37), to(#f05c21));
  background: linear-gradient(90deg, #eb7d37 0%, #f05c21 100%);
  border-radius: 0.8rem;
  line-height: 2.5;
  color: #fff;
}

.btn.btn-down::before {
  content: "";
  display: block;
  width: 1rem;
  height: 1.4rem;
  background: url("../images/icon_set.png") no-repeat -15rem -20rem;
  background-size: 80rem 100rem;
  margin-right: 1.1rem;
}

@media (max-width: 1180px) {
  .btn.btn-down {
    margin-right: 1.1rem;
  }
}

.btn.btn-contact {
  margin-top: 0;
  width: 28rem;
  height: 8rem;
  border: none;
  background: -webkit-gradient(linear, left top, right top, from(#ec7826), to(#f33a00));
  background: linear-gradient(90deg, #ec7826 0%, #f33a00 100%);
  border-radius: 0.8rem;
  line-height: 2.5;
  color: #fff;
}

.btn.btn-contact::before {
  margin-right: 1.9rem;
  content: "";
  display: block;
  width: 3rem;
  height: 4.1rem;
  background: url("../images/icon_set.png") no-repeat -58rem -8rem;
  background-size: 80rem 100rem;
}

.btn.btn-contact.btn-layer {
  margin-right: -14rem;
  bottom: -2rem;
  margin-top: -5.5rem;
}

@media (max-width: 1500px) {
  .btn.btn-contact.btn-layer {
    right: -1rem;
  }
}

@media (max-width: 1180px) {
  .btn.btn-contact.btn-layer {
    right: 0;
    position: relative;
    margin: 8rem 4rem 0rem;
    width: calc(100% - 8rem);
    position: relative;
    margin: 4rem 4rem 0;
    width: calc(100% - 8rem);
  }
}

@media (max-width: 360px) {
  .btn.btn-contact.btn-layer {
    margin: 8rem 2rem 0;
    width: calc(100% - 4rem);
  }
}

.btn.btn-more {
  position: relative;
  padding: 0 8.3rem 0 4.7rem;
  height: 5.4rem;
  border: 1px solid #ec7826;
  background: #fff;
  border-radius: 0.8rem;
  line-height: 2.5;
  color: #ec7826;
}

@media (max-width: 380px) {
  .btn.btn-more {
    padding: 0 5.3rem 0 2.7rem;
  }
}

.btn.btn-more:after {
  position: absolute;
  right: 4.7rem;
  top: 50%;
  margin-top: -0.4rem;
  content: "";
  display: block;
  width: 1.4rem;
  height: 0.9rem;
  background: url("../images/icon_set.png") no-repeat -2rem -20rem;
  background-size: 80rem 100rem;
}

@media (max-width: 380px) {
  .btn.btn-more:after {
    right: 2.7rem;
  }
}

.btn.btn-home {
  width: 20.6rem;
  font-weight: 300;
  height: 5.4rem;
  border: 1px solid #999;
  background: #fff;
  border-radius: 0.8rem;
  line-height: 2.5;
  color: #999;
}

.notice-btn {
  position: relative;
  cursor: pointer;
  padding-right: 0;
}

.notice-btn .new {
  position: absolute;
  top: 0.8rem;
  right: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #f23f02;
  border-radius: 50%;
  font-size: 1.3rem;
  color: #f8f8f8;
}

.notice-list {
  display: none;
  position: absolute;
  top: 5rem;
  right: -10.5rem;
  z-index: 2;
  width: 40rem;
  padding: 1rem 0 0;
  border-radius: 0.8rem;
  background-color: #fff;
  border: 1px solid #bfbfbf;
}

.notice-list::before {
  position: absolute;
  top: -0.7rem;
  right: 12.8rem;
  content: "";
  display: block;
  width: 1.2rem;
  height: 0.7rem;
  background: url("../images/icon_set.png") no-repeat -77rem -15rem;
  background-size: 80rem 100rem;
}

@media (max-width: 1024px) {
  .notice-list::before {
    right: 6.7rem;
  }
}

@media (max-width: 480px) {
  .notice-list {
    width: 20rem;
  }
}

.notice-list .no-notice {
  padding: 1rem 0;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0;
  color: #222;
}

.notice-list .list li {
  position: relative;
  padding: 0.9rem 2.9rem;
  border-bottom: 1px solid #f8f8f8;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0;
  color: #222;
}

.notice-list .list li::before {
  position: absolute;
  left: 1.6rem;
  top: 1.6rem;
  content: "";
  width: 0.6rem;
  height: 0.6rem;
  background-color: #ec7826;
  border-radius: 50%;
}

.notice-list .list li .date {
  color: #bfbfbf;
}

.notice-list.expand {
  display: block;
}

.back-to-position {
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.back-to-position.to-right {
  -webkit-transform: translateX(-15rem);
          transform: translateX(-15rem);
}

.back-to-position.to-left {
  -webkit-transform: translateX(15rem);
          transform: translateX(15rem);
}

.show .back-to-position {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.show .back-to-position.delay-0 {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.show .back-to-position.delay-1 {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.show .back-to-position.delay-2 {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.show .back-to-position.delay-3 {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

#to-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  width: 4rem;
  height: 4rem;
  background-color: #222;
  color: #fff;
  z-index: 10;
  border-radius: 1rem;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  -webkit-transition: all 0.2;
  transition: all 0.2;
}

header.header-fix {
  background-color: rgba(255, 255, 255, 0.8);
}

header > .inner {
  height: 12rem;
}

header .logo {
  position: absolute;
  top: 6rem;
  left: 0;
  height: 2.4rem;
  margin: auto;
}

header .sub-menu {
  position: absolute;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .sub-menu ul.menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .sub-menu ul.menu > li::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  display: block;
  width: 0.1rem;
  height: 1.2rem;
  margin: auto 0;
  background-color: #767676;
}

header .sub-menu ul.menu > li:first-child::before {
  display: none;
}

header .sub-menu ul.menu > li a {
  display: block;
  padding: 1rem 1.6rem;
  font-size: 1.2rem;
  color: #555;
}

header .sub-menu ul.menu > li a:hover {
  color: #000;
}

header .sub-menu .search {
  position: relative;
  height: 3.4rem;
}

header .sub-menu .search input {
  width: 3.6rem;
  height: 3.4rem;
  padding: 0.4rem 1rem;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 0.5rem;
  outline: none;
  color: #555;
  font-size: 1.2rem;
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
}

header .sub-menu .search input:focus {
  width: 20rem;
  border-color: #f23f02;
}

header .sub-menu .search .material-icons {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0.5rem;
  height: 2.4rem;
  margin: auto;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

header .sub-menu .search.focused .material-icons {
  opacity: 0;
}

header .main-menu {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .main-menu .item .item__name {
  padding: 1rem 2rem 3.4rem 2rem;
  font-size: 1.3rem;
  cursor: pointer;
}

header .main-menu .item .item__contents {
  position: fixed;
  left: 0;
  width: 100%;
  display: none;
  background-color: #222;
  color: rgba(255, 255, 255, 0.5);
}

header .main-menu .item .item__contents .contents__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .main-menu .item .item__contents .contents__menu ul li {
  padding-right: 3rem;
  font-size: 1.3rem;
  cursor: pointer;
}

header .main-menu .item:hover .item__name {
  background-color: #222;
  color: #feece1;
  border-radius: 0.6rem 0.6rem 0 0;
}

header .main-menu .item:hover .item__contents {
  display: block;
}

header .badges {
  position: absolute;
  top: 13.2rem;
  right: 1.2rem;
}

header .badges .badge {
  border-radius: 1rem;
  margin-bottom: 1.2rem;
  -webkit-box-shadow: 0.4rem 0.4rem 1rem rgba(0, 0, 0, 0.4);
          box-shadow: 0.4rem 0.4rem 1rem rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

header .badges .badge img {
  width: 12rem;
}

.count-data {
  max-height: 65rem;
  padding-top: 6.4rem;
  margin-top: 12rem;
  background: url("./images/bg-main.png") no-repeat center center;
  background-size: cover;
  padding-bottom: 17.6rem;
}

@media (max-width: 480px) {
  .count-data {
    margin-top: -6.4rem;
    padding-bottom: 10rem;
  }
}

.count-data .inner {
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 2.6rem;
  width: 100%;
}

@media (max-width: 480px) {
  .count-data .inner {
    margin-top: 6.4rem;
  }
}

.count-data .inner .title {
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 1.333;
  letter-spacing: 0;
  color: #fff;
  width: 100%;
  text-align: center;
}

@media (max-width: 480px) {
  .count-data .inner .title {
    padding: 0 1.6rem;
  }
}

.count-data .inner .desc {
  display: none;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.325;
  letter-spacing: 0;
  color: #fff;
}

@media (max-width: 480px) {
  .count-data .inner .desc {
    text-align: center;
    display: block;
    margin-top: 1.3rem;
  }
}

.count-data .count-data-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.count-data .row-item {
  position: relative;
  width: 200px;
  text-align: center;
  padding-top: 10.3rem;
  height: 184px;
  margin-top: 5.6rem;
  margin-left: 1rem;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
}

@media (max-width: 480px) {
  .count-data .row-item {
    background: rgba(255, 255, 255, 0.05);
    -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
    border-radius: 8px;
    margin-left: -1.6rem;
    -webkit-transform: scale(0.73912);
            transform: scale(0.73912);
    -webkit-transition: scale 1s;
    transition: scale 1s;
  }
}

@media (max-width: 480px) {
  .count-data .row-item.slick-current {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.count-data .row-item .num {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0;
  color: #fff;
}

.count-data .row-item .num strong {
  font-size: 2.8rem;
  font-weight: 600;
}

.count-data .row-item .title {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0;
  color: #fff;
}

.count-data .row-item::before {
  position: absolute;
  left: 50%;
  top: 3.5rem;
  margin: 0 -3.2rem;
  content: "";
  display: block;
  width: 6.5rem;
  height: 6.5rem;
  background: url("../images/icon_set.png") no-repeat 0 -8rem;
  background-size: 80rem 100rem;
}

.count-data .row-item.item01::before {
  background-position: 0 -8rem;
}

.count-data .row-item.item02::before {
  background-position: -6.6rem -8rem;
}

.count-data .row-item.item03::before {
  background-position: -13.2rem -8rem;
}

.count-data .row-item.item04::before {
  background-position: -20rem -8rem;
}

.count-data .row-item::after {
  display: block;
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 0.1rem;
  height: 12.2rem;
  margin-top: -6.1rem;
}

@media (max-width: 480px) {
  .count-data .row-item::after {
    display: none;
  }
}

.count-data .row-item:last-child::after {
  display: none;
}

.count-data .fade-in {
  opacity: 0;
}

.join-sale {
  height: 30rem;
  background: url("../images/bg-join.png") no-repeat center center;
  background-size: cover;
}

@media (max-width: 768px) {
  .join-sale {
    height: auto;
    margin-top: 16rem;
  }
}

.join-sale-inner {
  position: relative;
  padding-top: 6rem;
}

.join-sale-inner .title {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.333;
  letter-spacing: 0;
  color: #fff;
}

@media (max-width: 768px) {
  .join-sale-inner .title span {
    display: block;
  }
}

.join-sale-inner .desc {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0;
  color: #fff;
  margin-top: 1.2rem;
}

@media (max-width: 768px) {
  .join-sale-inner .desc span {
    display: block;
  }
}

.join-sale-inner .img-join {
  position: absolute;
  right: 0;
  top: -6rem;
  display: block;
  width: 30.7rem;
  height: 31.5rem;
}

@media (max-width: 768px) {
  .join-sale-inner .img-join {
    position: relative;
    margin: -6rem auto;
  }
}

@media (max-width: 360px) {
  .join-sale-inner .img-join {
    width: 26rem;
    background-size: contain;
  }
}

.join-sale-inner .btn-sale-join {
  width: 20rem;
  margin-top: 3rem;
}

@media (max-width: 768px) {
  .join-sale-inner .btn-sale-join {
    margin-bottom: 4rem;
  }
}

.join-sale + .sitemap .container {
  margin-top: 0;
}

.sitemap {
  position: relative;
  background-color: #262626;
}

.sitemap .toggle-sitemap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  padding: 1rem;
  color: #fff;
  cursor: pointer;
}

.sitemap .toggle-sitemap .more {
  display: block;
}

.sitemap .toggle-sitemap .less {
  display: none;
}

.sitemap .toggle-sitemap.expand .more {
  display: none;
}

.sitemap .toggle-sitemap.expand .less {
  display: block;
}

.sitemap .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0;
  padding-bottom: 4rem;
  border-bottom: 1px solid #555;
}

@media (max-width: 1180px) {
  .sitemap .inner {
    margin-left: 1.6rem;
    margin-right: 1.6rem;
  }
}

@media (max-width: 768px) {
  .sitemap .inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 1.6rem;
    margin-right: 1.6rem;
  }
}

.sitemap .inner .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5.6rem;
}

.sitemap .inner .row .row-item {
  margin-left: 6.4rem;
}

@media (max-width: 768px) {
  .sitemap .inner .row .row-item {
    margin-left: 4rem;
  }
}

@media (max-width: 300px) {
  .sitemap .inner .row .row-item {
    margin-left: 1rem;
  }
}

.sitemap .inner .row .row-item:first-child {
  margin-left: 0;
}

.sitemap .inner .row .row-item:last-child {
  margin-left: 3.3rem;
}

@media (max-width: 768px) {
  .sitemap .inner .row .row-item:last-child {
    margin-left: 2rem;
  }
}

@media (max-width: 300px) {
  .sitemap .inner .row .row-item:last-child {
    margin-left: 1rem;
  }
}

.sitemap .inner .row .row-item h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sitemap .inner .row .row-item h2.bul-icon {
  margin-left: -1.3rem;
}

.sitemap .inner .row .row-item h2.bul-icon::before {
  display: inline-block;
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  margin-right: 0.8rem;
  background-color: #ec7826;
}

.sitemap .inner .row .row-item h2 a {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.785;
  letter-spacing: -0.011em;
  color: #fff;
}

@media (max-width: 360px) {
  .sitemap .inner .row .row-item h2 a {
    font-size: 1.2rem;
  }
}

.sitemap .inner .row .row-item .sitemap-list li {
  margin-top: 1.6rem;
}

.sitemap .inner .row .row-item .sitemap-list li a {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.785;
  letter-spacing: -0.011em;
  color: #fff;
}

@media (max-width: 360px) {
  .sitemap .inner .row .row-item .sitemap-list li a {
    font-size: 1.2rem;
  }
}

.sitemap .inner .news {
  margin-top: 5.6rem;
}

@media (max-width: 768px) {
  .sitemap .inner .news {
    margin: 4rem auto 0;
    text-align: center;
  }
}

.sitemap .inner .news h2 {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.785;
  letter-spacing: -0.011em;
  color: #fff;
}

.sitemap .inner .news .btn-primary-m {
  display: inline-block;
  margin-top: 1.3rem;
  min-width: 20rem;
}

.sitemap .inner.hide {
  display: none;
}

.footer {
  position: relative;
  background-color: #262626;
}

.footer.z-index20 {
  z-index: 20;
}

.footer .inner {
  margin-top: 0;
  padding: 4rem 0 6.8rem;
}

@media (max-width: 1180px) {
  .footer .inner {
    margin-left: 1.6rem;
    margin-right: 1.6rem;
  }
}

@media (max-width: 768px) {
  .footer .inner {
    margin-left: 1.6rem;
    padding-bottom: 4.3rem;
  }
}

.footer .inner .footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .inner .footer-menu .footer-logo {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.625;
  letter-spacing: -0.011em;
  color: #fff;
}

.footer .inner .footer-menu .footer-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .footer .inner .footer-menu .footer-menu-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 360px) {
  .footer .inner .footer-menu .footer-menu-list {
    margin-left: 4rem;
  }
}

.footer .inner .footer-menu .footer-menu-list li {
  margin-left: 4rem;
}

@media (max-width: 768px) {
  .footer .inner .footer-menu .footer-menu-list li {
    margin-left: 0;
    margin-right: 1rem;
  }
  .footer .inner .footer-menu .footer-menu-list li:nth-child(1) {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    width: 11.5rem;
    margin-left: 1rem;
  }
  .footer .inner .footer-menu .footer-menu-list li:nth-child(2) {
    width: 11.5rem;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-left: 1rem;
  }
  .footer .inner .footer-menu .footer-menu-list li:nth-child(3) {
    margin-right: 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .footer .inner .footer-menu .footer-menu-list li:nth-child(3) {
    margin-right: 0;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

@media (max-width: 480px) {
  .footer .inner .footer-menu .footer-menu-list li:nth-child(1), .footer .inner .footer-menu .footer-menu-list li:nth-child(2) {
    margin-left: 0;
  }
  .footer .inner .footer-menu .footer-menu-list li:nth-child(3), .footer .inner .footer-menu .footer-menu-list li:nth-child(3) {
    margin-right: 0;
  }
}

.footer .inner .footer-menu .footer-menu-list li a {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
  letter-spacing: -0.011em;
  color: #fff;
}

@media (max-width: 768px) {
  .footer .inner .footer-menu .footer-menu-list li a {
    font-size: 1.4rem;
  }
}

.footer .inner .footer-menu .footer-menu-list li.selected a {
  color: #ec7826;
  font-weight: 700;
}

.footer .inner .footer-desc {
  margin-top: 1.6rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.428;
  letter-spacing: -0.011em;
  color: #fff;
}

@media (max-width: 768px) {
  .footer .inner .footer-desc {
    margin-top: 4rem;
  }
}

.footer .inner .footer-info {
  margin-top: 3.2rem;
}

.footer .inner .footer-info p {
  margin-top: 0.5rem;
}

.footer .inner .footer-info p span {
  display: inline-block;
  position: relative;
  padding-right: 3.5rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.428;
  letter-spacing: -0.011em;
  color: #888;
}

@media (max-width: 768px) {
  .footer .inner .footer-info p span {
    display: inline;
  }
}

.footer .inner .footer-info p span::after {
  display: block;
  content: " ";
  position: absolute;
  right: 1.5rem;
  top: 50%;
  width: 0.1rem;
  height: 1.2rem;
  margin-top: -0.6rem;
  background-color: #888;
}

.footer .inner .footer-info p span:last-child::after {
  display: none;
}

@media (max-width: 768px) {
  .footer .inner .footer-info p {
    padding-right: 2rem;
  }
  .footer .inner .footer-info p:first-child span:nth-child(2)::after {
    display: none;
  }
  .footer .inner .footer-info p:first-child span:nth-child(3) {
    display: block;
  }
  .footer .inner .footer-info p:nth-child(2) span:nth-child(1)::after, .footer .inner .footer-info p:nth-child(2) span:nth-child(3)::after {
    display: none;
  }
  .footer .inner .footer-info p:nth-child(2) span:nth-child(2)::after {
    left: -1.5rem;
  }
  .footer .inner .footer-info p:nth-child(2) span:nth-child(3) {
    display: block;
  }
}

.footer .inner .footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1.6rem;
}

@media (max-width: 768px) {
  .footer .inner .footer-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer .inner .footer-bottom .footer_copy {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.428;
  letter-spacing: -0.011em;
  color: #888;
}

.footer .inner .footer-bottom .sns-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .footer .inner .footer-bottom .sns-list {
    margin-top: 4rem;
  }
}

.footer .inner .footer-bottom .sns-list li {
  margin-left: 2.4rem;
}

.footer .inner .footer-bottom .sns-list li a {
  content: "";
  display: block;
  width: 2.4rem;
  height: 2.4rem;
  background: url("../images/icon_set.png") no-repeat -37.4rem 0rem;
  background-size: 80rem 100rem;
}

.footer .inner .footer-bottom .sns-list li.sns-kakao a {
  background-position: -35rem 0rem;
}

.footer .inner .footer-bottom .sns-list li.sns-inst a {
  background-position: -37.4rem 0rem;
}

.footer .inner .footer-bottom .sns-list li.sns-facebook a {
  background-position: -39.8rem 0rem;
}

.footer .inner .footer-bottom .sns-list li.sns-blog a {
  background-position: -42.2rem 0rem;
}

.footer .inner .footer-bottom .sns-list li:first-of-type {
  margin-left: 0;
}

.count-data {
  max-height: 65rem;
  padding-top: 6.4rem;
  margin-top: 12rem;
  background: url("../images/bg-main.png") no-repeat center center;
  background-size: cover;
  padding-bottom: 17.6rem;
}

@media (max-width: 480px) {
  .count-data {
    margin-top: -6.4rem;
    padding-bottom: 10rem;
  }
}

.count-data .container {
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 2.6rem;
  width: 100%;
}

@media (max-width: 480px) {
  .count-data .container {
    margin-top: 6.4rem;
  }
}

.count-data .container .title {
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 1.333;
  letter-spacing: 0;
  color: #fff;
  width: 100%;
  text-align: center;
}

@media (max-width: 480px) {
  .count-data .container .title {
    padding: 0 1.6rem;
  }
}

.count-data .container .desc {
  display: none;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.325;
  letter-spacing: 0;
  color: #fff;
}

@media (max-width: 480px) {
  .count-data .container .desc {
    text-align: center;
    display: block;
    margin-top: 1.3rem;
  }
}

.count-data .count-data-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.count-data .row-item {
  position: relative;
  width: 200px;
  text-align: center;
  padding-top: 10.3rem;
  height: 184px;
  margin-top: 5.6rem;
  margin-left: 1rem;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
}

@media (max-width: 480px) {
  .count-data .row-item {
    background: rgba(255, 255, 255, 0.05);
    -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
    border-radius: 8px;
    margin-left: -1.6rem;
    -webkit-transform: scale(0.73912);
            transform: scale(0.73912);
    -webkit-transition: scale 1s;
    transition: scale 1s;
  }
}

@media (max-width: 480px) {
  .count-data .row-item.slick-current {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.count-data .row-item .num {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0;
  color: #fff;
}

.count-data .row-item .num strong {
  font-size: 2.8rem;
  font-weight: 600;
}

.count-data .row-item .title {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0;
  color: #fff;
}

.count-data .row-item::before {
  position: absolute;
  left: 50%;
  top: 3.5rem;
  margin: 0 -3.2rem;
  content: "";
  display: block;
  width: 6.5rem;
  height: 6.5rem;
  background: url("../images/icon_set.png") no-repeat 0 -8rem;
  background-size: 80rem 100rem;
}

.count-data .row-item.item01::before {
  background-position: 0 -8rem;
}

.count-data .row-item.item02::before {
  background-position: -6.6rem -8rem;
}

.count-data .row-item.item03::before {
  background-position: -13.2rem -8rem;
}

.count-data .row-item.item04::before {
  background-position: -20rem -8rem;
}

.count-data .row-item::after {
  display: block;
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 0.1rem;
  height: 12.2rem;
  margin-top: -6.1rem;
}

@media (max-width: 480px) {
  .count-data .row-item::after {
    display: none;
  }
}

.count-data .row-item:last-child::after {
  display: none;
}

.count-data .fade-in {
  opacity: 0;
}

.notice-line {
  background-color: #000;
}

.notice-line .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.notice-line .inner h2 {
  font-size: 1.7rem;
  color: #fff;
}

.notice-line .inner .swiper-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 6rem;
  overflow: hidden;
}

.notice-line .inner .swiper-container .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 6rem;
  margin-left: 2rem;
  font-size: 1.7rem;
  color: #fff;
}

.notice-line .inner .notice-more {
  width: 6rem;
  height: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3rem;
  color: #fff;
}

.banner {
  position: relative;
  background: -webkit-gradient(linear, left top, right top, from(#ec7826), to(#f33a00));
  background: linear-gradient(90deg, #ec7826 0%, #f33a00 100%);
}

.banner .inner {
  position: relative;
}

.banner .inner .swiper-pagination {
  position: absolute;
  left: 0;
  bottom: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 3rem;
  width: 20rem;
}

@media (max-width: 1180px) {
  .banner .inner .swiper-pagination {
    left: 4rem;
    top: 40%;
  }
}

@media (max-width: 480px) {
  .banner .inner .swiper-pagination {
    top: 50%;
  }
}

.banner .inner .swiper-pagination .swiper-pagination-bullet {
  width: 0.8rem;
  height: 0.8rem;
  display: block;
  margin-right: 0.8rem;
  background-color: rgba(255, 255, 255, 0.4);
  border: none;
  border-radius: 0.8rem;
  text-indent: -5000em;
  overflow: hidden;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.banner .inner .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 5.6rem;
  background-color: #fff;
}

.banner .inner .swiper-prev,
.banner .inner .swiper-next {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
  border: none;
  width: 3.2rem;
  height: 3.2rem;
  margin-top: -1.6rem;
  overflow: hidden;
  background: url(../images/icon_set.png) no-repeat -3.2rem -16rem;
  background-size: 80rem 100rem;
  background-color: transparent;
  text-indent: -5000em;
}

.banner .inner .swiper-prev {
  left: 0;
  background-position: 0 -16rem;
}

.banner .inner .swiper-container {
  position: relative;
  overflow: hidden;
}

.banner .inner .swiper-container .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: auto;
  width: 100%;
  padding: 0 3rem;
}

.banner .inner .swiper-container .swiper-slide a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 1180px) {
  .banner .inner .swiper-container .swiper-slide a {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 4rem;
  }
}

.banner .inner .swiper-container .swiper-slide a .text {
  margin-top: 7rem;
}

@media (max-width: 1180px) {
  .banner .inner .swiper-container .swiper-slide a .text {
    margin: 4rem;
  }
}

.banner .inner .swiper-container .swiper-slide a .text .desc {
  display: block;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.142;
  letter-spacing: 0;
  color: #fff;
}

@media (max-width: 967px) {
  .banner .inner .swiper-container .swiper-slide a .text .desc {
    padding-right: 0;
    width: calc(100vw - 8rem);
    padding-right: 0;
    word-break: keep-all;
  }
}

.banner .inner .swiper-container .swiper-slide a .text .title {
  display: block;
  margin-top: 2.4rem;
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 1.047;
  letter-spacing: 0;
  color: #fff;
}

@media (max-width: 968px) {
  .banner .inner .swiper-container .swiper-slide a .text .title {
    width: calc(100vw - 8rem);
    padding-right: 0;
    word-break: keep-all;
  }
}

.enterprise > .inner {
  margin-top: 5rem;
}

@media (max-width: 1180px) {
  .enterprise .enterprise-box {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
  }
}

@media (max-width: 1180px) {
  .enterprise .enterprise-box > .inner {
    position: relative;
    margin-left: -50rem;
    left: 50%;
    overflow: hidden;
  }
}

.enterprise .enterprise-box .enterprise-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5.6rem 0 6.3rem;
}

@media (max-width: 1180px) {
  .enterprise .enterprise-box .enterprise-list {
    width: 100rem;
  }
}

.enterprise .enterprise-box .enterprise-list li {
  margin: 0.4rem 2.3rem 3rem 2.2rem;
}

@media (max-width: 1180px) {
  .enterprise .enterprise-box .enterprise-list li:nth-of-type(6), .enterprise .enterprise-box .enterprise-list li:nth-of-type(10n + 6) {
    margin-left: 12rem;
  }
}

.community .inner {
  width: 1220px;
  margin-bottom: 8.8rem;
}

@media (max-width: 1200px) {
  .community .inner {
    width: 100%;
  }
}

.community .swiper-container {
  overflow: hidden;
}

.community .swiper-container .swiper-wrapper {
  margin-top: 6.2rem;
}

.community .swiper-container .swiper-wrapper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  max-width: 38rem;
  height: 37.6rem;
  margin: 2rem;
  margin-right: 0;
  background: #fff;
  -webkit-box-shadow: 0.2rem 0.2rem 2.2rem rgba(0, 0, 0, 0.13);
          box-shadow: 0.2rem 0.2rem 2.2rem rgba(0, 0, 0, 0.13);
  border-radius: 0.8rem;
}

@media (max-width: 480px) {
  .community .swiper-container .swiper-wrapper .swiper-slide {
    width: 80vw;
    -webkit-box-shadow: 0.2rem 0.2rem 1.2rem rgba(0, 0, 0, 0.13);
            box-shadow: 0.2rem 0.2rem 1.2rem rgba(0, 0, 0, 0.13);
  }
}

@media (max-width: 968px) {
  .community .swiper-container .swiper-wrapper .swiper-slide.swiper-slide-duplicate-active {
    -webkit-transform: scale(1);
            transform: scale(1);
    min-height: 28.8rem;
    margin-left: 0;
    margin-right: 0;
  }
}

.community .swiper-container .swiper-wrapper .swiper-slide a {
  display: block;
  padding: 2.4rem;
}

.community .swiper-container .swiper-wrapper .swiper-slide a img {
  width: 100%;
}

.community .swiper-container .swiper-wrapper .swiper-slide a .category {
  display: block;
  margin-top: 1.6rem;
  font-style: normal;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.011em;
  color: #888;
}

.community .swiper-container .swiper-wrapper .swiper-slide a .title {
  display: block;
  margin-top: 0.8rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0;
  color: #222;
}

.community .swiper-container .swiper-wrapper .swiper-slide a .date {
  position: absolute;
  left: 2.4rem;
  bottom: 2.4rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.011em;
  color: #222;
}

.community .btn-primary {
  width: 57.6rem;
  margin: 5rem auto 0;
}

@media (max-width: 768px) {
  .community .btn-primary {
    width: calc(100% - 3.2rem);
    padding: 0 1.6rem;
  }
}
/*# sourceMappingURL=style.css.map */